@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: #fff;
}

*,
*::after,
 *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
  background-color: var(--light-grayish-blue);
  color: var(--very-dark-grayish-blue);
}

img {
  display: block;
}

main a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 350px minmax(300px, 550px);
  border-radius: 10px;
  box-shadow: 5px 5px 10px  hsla(217, 19%, 35%, 0.2);
}

.image-wrapper {
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.main--img {
  width: 100%;
  height: 100%;
  object-position: left;
  object-fit: cover;
  transition: all 0.5s ease;
}

.wrapper {
  border-radius: 0 10px 10px 0;
  background-color: var(--white);
  padding: 2.5em;
  position: relative;
} 

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1em;
  color: var(--very-dark-grayish-blue);
}

.subtitle {
  font-size: 0.8125rem;
  color: var(--desaturated-dark-blue);
  margin-bottom: 1.5em;
  line-height: 1.5;
}

.profile,
.profile--section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  margin-right: 1em;
}

.profile--info p {
  font-size: 0.8125rem;
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}

.profile--info time {
  color: var(--desaturated-dark-blue);
}

.share--btn {
  background-color: var(--light-grayish-blue);
  padding: .7em;
  border-radius: 50%;
  margin-left: auto;
}

.share--btn:hover {
  box-shadow: 2px 2px 5px hsla(217, 19%, 35%, 0.514);;
}

.dark--blue {
  background-color: var(--very-dark-grayish-blue);
  padding: 1em;
  border-radius: 50%;
  margin-left: auto;
}

.white--icon {
  color: var(--white);
}

.visibility {
  display: none;
}

.social--links {
  background-color: var(--very-dark-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5em;
  width: 60%;
  border-radius: 10px;
  position: absolute;
  box-shadow: 10px 10px 10px hsla(217, 19%, 35%, 0.281);;
  top: 45%;
  left: 55%;
}

.social--links img {
  width: 25px;
}

.social--links::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border-color: var(--very-dark-grayish-blue) transparent transparent;
  border-style: solid;
  border-width: 15px;
}

.social--links-span {
  color: var(--desaturated-dark-blue);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

footer {
  margin-top: 2em;
}

@media (width < 650px) {
  main {
    max-width: 350px;
    grid-template-columns: minmax(300px, 500px);
    grid-template-rows: 180px auto;
    margin-top: 1em;
  }

  .image-wrapper {
    border-radius: 10px 10px 0 0;
  }

  .wrapper {
    padding: 1em 1.5em;
    border-radius: 0 0 10px 10px;
  }

  .title {
    font-size: 1.125rem;
  }

  .share--btn {
    margin-top: 1em;
    margin-right: 1em;
    padding: .5em;
    z-index: 100;
  }

  .dark--blue {
    background-color: var(--light-grayish-blue);
  }

  .white--icon {
    color: var(--very-dark-grayish-blue)
  }

  .social--links::after {
    display: none;
  }

  .social--links {
    width: 100%;
    left: 0%;
    top: 75%;
    bottom: 0%;
    padding: 0;
    border-radius: 0 0 10px 10px;
    justify-content: flex-start;
  }

  .social--links img {
    margin-left: 1.5em;
  }

  .social--links-span {
    font-size: .5rem;
    margin-left: 5em;
  }
}


